/* home.css */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f2f2f2;
}

#header {
    background-color: #005f3c; /* Verde escuro */
    color: white;
    padding: 20px 0;
}

.nav-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content:right; /* Alinha os itens à esquerda */
    padding-left: 20px; /* Adiciona espaçamento à esquerda */
}

.nav-list li {
    margin: 0 15px;
}

.nav-list a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

nav a:hover {
    text-decoration: underline;
}

main {
    max-width: 1000px;
    margin: 40px auto;
    padding: 20px;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

section h1 {
    font-size: 28px;
    color: #005f3c;
}

section p {
    font-size: 18px;
    color: #333;
    line-height: 1.6;
}

button {
    background-color: #28a745; /* Verde do botão */
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
    border-radius: 5px;
    margin-top: 20px;
}

button:hover {
    background-color: #218838; /* Escurecendo o verde ao passar o mouse */
}

#img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 30px auto;
}

footer {
    background-color: #f2f2f2;
    text-align: center;
    padding: 20px 0;
}

footer hr {
    margin-bottom: 20px;
}

footer img {
    margin: 0 10px;
    transition: transform 0.3s ease;
    cursor: pointer;
}

footer img:hover {
    transform: scale(1.2); /* Aumenta o ícone ao passar o mouse */
}

.rodape {
    font-size: 14px;
    color: #666;
}
