:root {
    --cor-branco1: #E0E0E0;
    --cor-branco2: #FFFFFF;
    --cor-verde1: #228B22;
    --cor-verde2: #66BB6A;
    --cor-verde3: #98FF98;
    --cor-verde4: #047857;
    --cor-hover: #272727; 
}

#header {
    background-color: var(--cor-verde4); /* Verde escuro */
    color: var(--cor-branco2);
    padding: 20px 0;
}

.nav-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: right; /* Alinha os itens à direita */
    padding-left: 20px; /* Adiciona espaçamento à esquerda */
}

.nav-list li {
    margin: 0 15px;
}

.nav-list a {
    color: var(--cor-branco2);
    text-decoration: none;
    font-weight: bold;
}

footer {
    background-color: var(--cor-verde4);
    text-align: right;
    padding: 10px 0;
}

footer hr {
    margin-bottom: 20px;
}

footer img {
    margin: 0 10px;
    transition: transform 0.3s ease;
    cursor: pointer;
    max-width: 25px;
}

footer img:hover {
    transform: scale(1.2); /* Aumenta o ícone ao passar o mouse */
}