:root {
    --cor-branco1: #E0E0E0;
    --cor-branco2: #FFFFFF;
    --cor-verde1: #228B22;
    --cor-verde2: #66BB6A;
    --cor-verde3: #98FF98;
    --cor-verde4: #047857;
    --cor-hover: #272727; 
}

#header {
    display: flex; /* Usa Flexbox para o layout do header */
    justify-content: space-between; /* Espaço entre a logo e a navegação */
    align-items: center; /* Alinha verticalmente os itens */
    background-color: var(--cor-verde4); /* Verde escuro */
    color: var(--cor-branco2);
    padding: 20px;
}

#header img {
    max-width: 150px; /* Ajuste o tamanho da imagem se necessário */
    filter: brightness(0) invert(1); /* Deixa a logo branca se for uma imagem escura */
}

.nav-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 15px; /* Espaço entre os links */
}

.nav-list li {
    margin: 0;
}

.nav-list a {
    color: var(--cor-branco2);
    text-decoration: none;
    font-weight: bold;
}

.nav-list a:hover {
    color: var(--cor-hover); /* Cor ao passar o mouse */
}

footer {
    background-color: var(--cor-verde4);
    text-align: right;
    padding: 10px 0;
}

footer hr {
    margin-bottom: 20px;
}

footer img {
    margin: 0 10px;
    transition: transform 0.3s ease;
    cursor: pointer;
    max-width: 25px;
}

footer img:hover {
    transform: scale(1.2); /* Aumenta o ícone ao passar o mouse */
}
