/* planos.css */
:root {
    --cor-branco1: #E0E0E0;
    --cor-branco2: #FFFFFF;
    --cor-verde1: #228B22;
    --cor-verde2: #66BB6A;
    --cor-verde3: #98FF98;
    --cor-verde4: #047857;
    --cor-hover: #272727; 
}

#header {
    background-color: var(--cor-verde4); /* Verde escuro */
    color: var(--cor-branco2);
    padding: 20px 0;
}

.nav-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: flex-end; /* Alinha os itens à direita */
    padding-left: 20px; /* Adiciona espaçamento à esquerda */
}

.nav-list li {
    margin: 0 15px;
}

.nav-list a {
    color: var(--cor-branco2);
    text-decoration: none;
    font-weight: bold;
}

nav a:hover {
    text-decoration: underline;
}


body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
}


main {
    padding: 20px;
}

section {
    margin-bottom: 20px;
}

h1, h2 {
    color: #333;
}

div {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

div > div {
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 20px;
    margin: 10px;
    flex-basis: 30%; /* Ajusta a largura dos planos */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

button {
    background: #4CAF50;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background: #45a049;
}
footer {
    background-color: #f2f2f2;
    text-align: center;
    padding: 20px 0;
}

footer hr {
    margin-bottom: 20px;
}

footer img {
    margin: 0 10px;
    transition: transform 0.3s ease;
    cursor: pointer;
}

footer img:hover {
    transform: scale(1.2); /* Aumenta o ícone ao passar o mouse */
}